#forum {
  background-image: url("../ressources/profil.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 200vh;
  width: auto;
}

.btn-12{
  float: right;
}

input[type="text"] {
  text-align: center;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  color:rgba(230, 130, 0, 0.9);
}

form {
    width: 290px;
  animation: fadein 1s;
  padding: 20px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

p {
  margin: 0px;
  margin-top: 10px;
}
#boutton {
    display: inline-block;
  color: blanchedalmond;
  padding: 10px;
  margin: 5px;
  margin-left: 10%;
  background-color: rgba(20, 20, 20, 0.5);
  border: 3px rgba(230, 130, 0, 0.9) solid;
}

#boutton:hover{
  cursor: pointer;
}
.sujets {
  background-color: rgba(20, 20, 20, 0.5);
  width: 80%;
  color: blanchedalmond;
  margin: auto;
}

th {
  overflow: hidden;
  margin: 1px;
  border: 2px rgba(230, 130, 0, 0.9) solid;
  padding: 10px;
}

td {
  overflow: hidden;
  margin: 1px;
  border: 1px rgba(230, 130, 0, 0.9) solid;
  padding: 10px;
}

table {
  margin-top: 20px;
  width: 100%;
}

.sujet {
  /*word-wrap: break-word;*/
  width: 50%;
}

.auteur {
  width: 25%;
}

.nombre {
  width: 10%;
}

.admin {
  width: 50px;
}

.dernier {
  /*word-wrap: break-word;*/
  width: 15%;
}

tr td a{
  color: white;
}

tr {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

#popup{
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(20, 20, 20, 0.8);
  top: 0px;
  position : fixed;
}

textarea{
  margin-top: 10px;
  resize: none;
  width: 100%;
}

.box{
  width: 50%;
  background-color: rgb(92, 92, 92);
  padding: 3%;
  display: block;
  margin: auto;
  border: 3px rgba(230, 130, 0, 0.9) solid;
}
.btn-12{
    margin: auto;
    position: relative;
}
